################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fergilnad/v16
/.vs/ProjectSettings.json
/.vs
/src/Debug
/Logs
